<nav class="navbar navbar-alea" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header hidden-sm hidden-md hidden-lg">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Alea iacta est</a>
        </div>


        <div class="collapse navbar-collapse">
            <nav-menu  class="nav navbar-nav">
                <!--
                <li ng-repeat="item in site.menu" ng-class="{ true: 'dropdown' }[ item.children != undefined ]">
                    <a ng-href="#/{{ item.url }}" ng-class="{ true: 'dropdown-toggle' }[ item.children != undefined ]">
                        <span>{{ item.title }}</span>
                        <small>{{ item.subtitle}}</small>
                    </a>
                    <ul ng-if="item.children != undefined" class="dropdown-menu">
                        <li ng-repeat="child in item.children">
                            <a href>{{ child.title }}</a>
                        </li>
                    </ul>
                </li>
                --->
                <li ng-repeat="item in main.menus['site-main']" ng-class="{ true: 'dropdown' }[ item.children != undefined ]">
                    <a ng-href="#/{{ item.uri }}" ng-class="{ true: 'dropdown-toggle' }[ item.children != undefined ]">
                        <span>{{ item.name }}</span>
                        <small>{{ item.name }}</small>
                    </a>
                    <ul ng-if="item.children != undefined" class="dropdown-menu">
                        <li ng-repeat="child in item.children">
                            <a href>{{ child.title }}</a>
                        </li>
                    </ul>
                </li>
            </nav-menu>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<span class="dropdown hide">
    <a href="" class="dropdown-toggle">
        Click me for a dropdown, yo!
    </a>
    <ul class="dropdown-menu">
        <li ng-repeat="choice in items">
            <a href>{{choice}}</a>
        </li>
    </ul>
</span>